body{
    background-color: #EEEDED;
}

.navbarBG{
    background: rgba(0,0,0,0.5);
}
.DarkenOnHover:hover{
    filter: brightness(70%);
    -webkit-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
}

.NavTextWhite{
    color: #ffffff;
    text-decoration: none;
}


.nav-link:focus, .nav-link:hover, .nav-item:focus {
    color: #d71313;
}

.navbar-toggler:focus{
    color: #D71313;
}

.dropdown-item:hover{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.25;
}

.SMLogo{
    border-radius: 5px;
}

.lastReleaseImg{
        width: 100%;
    }
    
@media only screen and (max-width: 576px) {
    .nav-link:focus, .nav-link:hover{
        color: lightslategray;
        border-right: solid lightslategray;
        transition: ease-in-out 0.50s;
    }
}
