body{
    background-color: #EEEDED;
}

.navbarBG{
    background: rgba(0,0,0,0.5);
}
.DarkenOnHover:hover{
    filter: brightness(70%);
    -webkit-transition: ease-in-out 0.25s;
    transition: ease-in-out 0.25s;
}

.NavTextWhite{
    font-family: 'Comic Neue', regular;
    color: #ffffff;
    text-decoration: none;
}


.nav-link:focus, .nav-link:hover, .nav-item:focus {
    color: #d71313;
}

.btnSearch{
    border: solid 1px #d71313; 
    border-radius: 5px;
}

.btnSearch:hover{
    background: #d71313;
    color: #fff;
}

.navbar-toggler:focus{
    color: #D71313;
}

.dropdown-item:hover{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.25;
}

.SMLogo{
    border-radius: 5px;
}

.lastReleaseImg{
        width: 100%;
    }

.NewReleases{
    font-family: 'Comic Neue', Bold;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card{
    width: 18rem;
}
.card-img-top{
    width: 100%;
    height: auto;
}

.card:hover{
    width: 19rem;
    transition: all ease-in-out 0.25s;
}
    
@media only screen and (max-width: 576px) {
    .nav-link:focus, .nav-link:hover{
        color: #D71313;
        border-right: 1px solid  #D71313;
        transition: ease-in-out 0.50s;
    }
}
